# Env and uploads
.env
.env.local
uploads/

# Backend
back-end/node_modules/
back-end/uploads/
back-end/.env

# Frontend nếu có
front-end/node_modules/
front-end/.env

# Build and coverage
coverage/
dist/
