/*Overall navigation bar*/
.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo*/
.navbar .logo {
    width: 150px;
}

/*Menu bar*/
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

/*Search, cart, and sign in button*/
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

/*Sign in button*/
.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.navbar button:hover {
    background-color: tomato;
    color: white;
}

/*Active menu
  If the menu item is clicked, the underline will shown below that*/
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

/*The dot in cart*/
.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}